body {
  margin: 0px;
}
nav {
  margin: 0px;
  padding: 30px;
  background-color: #473A2D;
  text-align: right;
}
nav li {
  display: inline;
  margin: 0px;
  padding: 10px;
  float: 70px;
}
nav li:hover {
  margin: 0px;
  padding: 10px;
  background-color: #5b4d3b;
}
header {
  margin: 250px;
}
#wrapper {
  display: table;
  width: auto;
}
#row {
  display: table-row;
}
#geo {
  display: table-cell;
  background-color: #bd9055;
  width: 33%;
  margin: 50px;
  padding: 20px;
}
#mer {
  display: table-cell;
  background-color: #e0a962;
  width: 33%;
  margin: 50px;
  padding: 20px;
}
#zem {
  display: table-cell;
  background-color: #f6ba6e;
  width: 33%;
  margin: 50px;
  padding: 20px;
}

}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
  padding: 30px;
}
.h2bright {
  border-bottom: 3px dotted black;
}
.h2dark {
  border-bottom: 3px dotted black;
}
h3 {
  text-align: center;
}
h4 {
  text-align: center;
}
.table1 {
  position: relative;
  float: left;
  /*padding: 30px;*/

  width: 50%;
}
.table1 > * {
  margin-right: 30px;
  margin-left: 30px;
}
.table2 > * {
  margin-right: 30px;
  margin-left: 30px;
}
.table2 {
  position: relative;
  float: right;
  width: 50%;
}
.tables {
  overflow: hidden;
}
.persons {
  overflow: hidden;
}
.persons > * {}
.pers1 {
  width: 50%;
  float: left;
}
.pers2 {
  width: 50%;
  float: right;
}
.pers1 > * {
  margin: 30px;
}
.pers2 > * {
  margin: 30px;
}
.sertifikate {
  overflow: hidden;
  background-color: green;
}
.s3 {
  text-align: center;
}
.s1 {
  float: left;
  width: 50%;
}
.s2 {
  float: right;
  width: 50%;
}
#map-canvas {
  width: 300px;
    height: 250px;
    background-color: #CCC;
    border: 5px solid black;
}
.kontakti {
  display: inline-block;

}
.mail {
  display: inline-block;
}
#map-canvas {
  display: inline-block;
}
footer > * {
margin: 20px;
}
